@layer wf.theme {
  :where(h1, h2, h3, h4, h5, h6) {
    font-family: var(--wf-font-heading);
    font-weight: 400;
    letter-spacing: -0.025em;
  }

  body {
    font-family: var(--wf-font-body);
    line-height: 1.7;
  }
}
